<ul>
  <lh>STAFF SERVICES</lh>
  <li><%= link_to "SPPS Staff Email", 'http://spps8.spps.org' %></li>
  <li><%= link_to "Campus Login", 'http://sis.spps.org' %></li>
  <li><%= link_to "Campus Training", '#' %></li>
  <li><%= link_to "Custom Websites", '#' %></li>
  <li><%= link_to "Teacher Activities", '#' %></li>
  <li><%= link_to "Connect Ed", '#' %></li>
  <li><%= link_to "Viewpoint", '#' %></li>
  <li><%= link_to "Easy IEP", '#' %></li>
  <li><%= link_to "PD Express", '#' %></li>
  <li><%= link_to "IT Procurement", '#' %></li>
</ul>

<ul>
  <lh>STUDENT SERVICES</lh>
  <li><%= link_to "SPPS Apps Login", '#' %></li>
  <li><%= link_to "Naviance", '#' %></li>
  <li><%= link_to "Campus Student Portal", '#' %></li>
  <li><%= link_to "SPPS Library System Sites", '#' %></li>
  <li><%= link_to "Online Learning Resources", '#' %></li>
  <li><%= link_to "Moodle", '#' %></li>
  <li><%= link_to "Scholastic Programs", '#' %></li>
  <li><%= link_to "Student Resource Page", '#' %></li>
</ul>

<ul>
  <lh>SELF SERVICE</lh>
  <li><%= link_to "IT Service Desk", 'http://servicedesk.spps.org' %></li>
  <li><%= link_to "Technologies FAQ", '#' %></li>
</ul>

<ul>
  <lh>IT RESOURCES</lh>
  <li><%= link_to "Service Catalog", '#' %></li>
  <li><%= link_to "IT Governance", '#' %></li>
  <li><%= link_to "Technology Plan", '#' %></li>
</ul>
