<ul>
  <lh>STAFF RESOURCES</lh>
  <li><%= link_to "Staff Email", 'http://spps8.spps.org' %></li>
  <li><%= link_to "Campus Login", 'http://sis.spps.org' %></li>
  <li><%= link_to "SPPS Apps Log in", 'http://start.stpaul.k12.mn.us' %></li>
  <li><%= link_to "Moodle / eLearn", 'http://elearn.spps.org' %></li>
  <li><%= link_to "Destiny Library System", 'http://library.spps.org' %></li>
  <li><%= link_to "Custom Websites", '/resources/custom-websites' %></li>
  <li><%= link_to "Room Reservation System", '/resources/room-reservation-system' %></li>
  <li><%= link_to "District Materials Center (DMC)", '/resources/dmc' %></li>
  <li><%= link_to "New to SPPS", '/resources/new-to-spps-staff' %></li>
</ul>

<ul>
  <lh>STUDENT RESOURCES</lh>
  <li><%= link_to "SPPS Apps Log in", 'http://mail.google.com/a/stpaul.k12.mn.us' %></li>
  <li><%= link_to "Campus Student Portal", 'http://ereport.spps.org/campus/portal/stpaul.jsp' %></li>
  <li><%= link_to "Moodle / eLearn", 'http://elearn.spps.org' %></li>
  <li><%= link_to "Troubleshoot SPPS Apps Issues", '/resources/spps-apps' %></li>
  <li><%= link_to "Internet Safety", '/security/internet-safety' %></li>
  <li><%= link_to "Cyber Safety for Parents", '/security/cyber-safety' %></li>
  <li><%= link_to "New to SPPS", '/resources/new-to-spps-students' %></li>
</ul>

<ul>
  <lh>SELF SERVICE</lh>
  <li><%= link_to "Service Desk", 'http://servicedesk.spps.org' %></li>
  <li><%= link_to "Teacher Activities", 'https://mis.spps.org/teacheractivities/' %></li>
  <li><%= link_to "Self Service", '/services/self-service' %></li>
  <li><%= link_to "Troubleshoot SPPS Apps Issues", '/resources/spps-apps' %></li>
</ul>

<ul>
  <lh>IT RESOURCES</lh>
  <li><%= link_to "Service Desk", 'http://servicedesk.spps.org' %></li>
  <li><%= link_to "Service Catalog", '/services/service-catalog' %></li>
  <li><%= link_to "Procurement", '/procurement' %></li>
  <li><%= link_to "IT Policy", '/policies' %></li>
  <li><%= link_to "Self Service", '/services/self-service' %></li>
</ul>
