<div class='wrap'>
  <div class='float_wrap'>
    <div class='contact'>
      <div class='content'>
	<span id='footerNav1'>
	  <%= link_to 'NONDISCRIMINATION POLICY', "http://www.spps.org/nondiscrimination" %>
	  <%= link_to 'CAREERS', "http://hr.spps.org/Applicants.html" %>
	  <%= link_to 'CONTACT US', "http://www.spps.org/contact_us" %>
	</span>
	<span id='footerNav2'>
	  <p><b>Saint Paul Public Schools, District 625 | 360 Colborne Street, Saint Paul, MN, 55102</b></p>
	</span>
	<span id='footerNav3'>
	  <%= link_to 'HOME', "http://www.spps.org/home" %>
	  <%= link_to 'ABOUT US', "http://www.spps.org/AboutUs" %>
	  <%= link_to 'SCHOOLS', "http://apply.spps.org/" %>
	  <%= link_to 'PARENTS', "http://www.spps.org/Parents" %>
	  <%= link_to 'STUDENTS', "http://www.spps.org/Students" %>
	  <%= link_to 'STAFF', "http://www.spps.org/Staff" %>
	  <%= link_to 'COMMUNITY', "http://www.spps.org/Community" %>
	  <%= link_to 'SCHOOL BOARD', "http://boe.spps.org/home.html" %>
	  <%= link_to 'NEWS & SPOTLIGHT', "http://www.spps.org/news_spotlight" %>
	</span>
      </div>
    </div>
    
    
    
    
    <!--<p>
      <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %> - <%= @ip_address %>
    </p>-->
  </div>
</div>
