<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
      
     <div class="content_outer_wrap">
      <div class="content_wrap">
	
      <div id="page_body">
	<a href="javascript:history.back()">Back</a>
		  <%= yield %>
	<a href="javascript:history.back()">Back</a>
	</div>
	<div id="base_links"><%= render '/refinery/base_links' %></div>
	<div class="clear">&nbsp;</div>
      </div>
    </div>
    
    <footer>
      <%= render '/refinery/footer' %>
    </footer>
    
    <%= render '/refinery/javascripts' %>
  
  </body>
</html>
